/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:focus {
  outline: none;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

html {
  background: #212121 url(../images/noise.png);
}
body {
  padding: 0;
  color:#eee;
  font-size: 1em;
  font-family: Ubuntu, sans-serif;
  color: #eee;
  line-height: 1.8em;
  -webkit-font-smoothing: antialiased;
}

h1 {
  position: absolute;
  left: -9999px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

blockquote {
  color: #666;
  margin-bottom: 2em;
  padding: 0 0 0 2em;
  border-left: 3px solid #bbb;
}

ul, ol, dl {
  margin-bottom: 1em
}

dl dt {
  float: left;
  width: 10em;
}

ul li {
  list-style: inside;
  margin-bottom:2em;
}
#supporters ul li {
  margin-bottom: 0px
}


ol li {
  list-style: decimal inside;
  margin-bottom:2em;
}


form {
  background: #f2f2f2;
  padding: 2em;
}

/* nav */

body > header nav h1 a i {
  display: block;
  
  margin: 0;
  
  opacity: .9;
}
body > header nav {
  padding: .5em 2em;
  background: #111 url(../images/noise.png);
}
body > header nav ul, 
body > header nav li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
body > header nav a {
  display: block;
  position: relative;
  padding: 1em .5em;
  transition: background-color .2s linear;
  background: transparent;
}
body > header nav a:focus,
body > header nav a:hover {
  background-color: rgba(255,255,255,.1);
}
body > header nav .home a,
body > header nav .tanzania a {
  margin-right: 3em;
}
body > header nav .home a {
  background: url(../images/africahacktrip-logo-w.png) 50% 0 no-repeat !important;
  background-size: contain !important;
  width: 5em;
  text-indent: -999px;
  opacity: .8;
  top: .5em;

}
body > header nav .home a:focus, 
body > header nav .home a:hover {
  opacity: 1;
}
body.home > header nav .home a {
  background-color: rgba(255,255,255,.8);
  color: #111;
  opacity: 1;
}
/* /nav */

/* header */
.main > .canvas {
  overflow: hidden;
  position: relative;
  padding: 4em 2em;
  border-bottom: 10px solid #111;
  margin: -2em -2em 2em;
}
.main > .canvas:before {
  content: '';
  display: block;
  position: absolute;
  left: -20px;
  right: -20px;
  top: 0;
  bottom: 0;
  box-shadow: inset 0 0 5px #000;
  z-index: 1;

  /* circle background gradient */
  background: -moz-radial-gradient(50% 50%, circle cover, rgba(0,0,0,.2) 0%, rgba(0,0,0,.7) 100%);
  background: -webkit-radial-gradient(50% 50%, circle cover, rgba(0,0,0,.2) 0%,rgba(0,0,0,.7) 100%);
  background: -o-radial-gradient(50% 50%, circle cover, rgba(0,0,0,.2) 0%,rgba(0,0,0,.7) 100%);
  background: -ms-radial-gradient(50% 50%, circle cover, rgba(0,0,0,.2) 0%,rgba(0,0,0,.7) 100%);
  background: radial-gradient(circle at 50% 50%, rgba(0,0,0,.2) 0%,rgba(0,0,0,.7) 100%);
}
.main > .canvas p {
  position: relative;
  z-index: 2;
  font-size: 1.6em;
  line-height: 2em;
  margin: 0 0 .5em;
  border-left: .4em solid rgba(0,0,0, .8);
  max-width: 40em;
}
.main > .canvas span {
  background: #222;
  background: rgba(0,0,0, .8);
  padding: .4em .4em .45em 0;
}

.main > .canvas .spaces article {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../images/spaces/ihub.jpg) 50% 50%;
  background-size: cover;
  opacity: 0;
  margin-left: 100%;
  transition: opacity 1s ease-in-out, margin-left 1s ease-in-out;
}
.main > .canvas .spaces article.active {
  opacity: 1;
  margin-left: 0;
}
.main > .canvas .spaces article.active ~ article {
  margin-left: -100%;
}
.main > .canvas .spaces .ihub {
  background-image: url(../images/spaces/ihub.jpg);
}
.main > .canvas .spaces .hive-colab {
  background-image: url(../images/spaces/hive-colab.jpg);
}
.main > .canvas .spaces .klab {
  background-image: url(../images/spaces/klab.jpg);
}
.main > .canvas .spaces .kinu {
  background-image: url(../images/spaces/kinu.jpg);
}
.main > .canvas .spaces a {
  display: block;
  position: absolute;
  right: 2em;
  bottom: 1em;
  z-index: 2;
  text-align: right;
  color: #fff;
  font-size: .8em;
  opacity: .7;
  background: transparent;
  text-decoration: underline;
}
/* /header */


body > footer {
  padding: 1em 0 2em 12em;
}
body > footer p {
  color: #f2f2f2;
}

h2, h3 {
  position: relative;
  z-index: 2;
  font-weight: 700;
}
h3 small {
  display: block;
  margin: 0 0 1em;
}

h1.inline, h2.inline {
  float: none;
  margin: 0;
  width: auto;
  text-align: left
}
h1 img {
  display: block;
  width: auto;
  height: auto;
  border: 0;
}

h2 {
  font-size: 2em;
  color: #fff;
  margin: 0.5em 0;
}

h3 {
  font-size: 1.3em;
  margin: 0.3em 0;
}
h3 small {
  font-size: .8em;
  font-weight: normal;
}


p {
  margin: 10px 0 15px 0;
}

a {
  text-decoration: none;
  color: #ddd;
  text-shadow: none;
  background: rgba(0,0,0,.3);
  padding: 1px 4px;
  border-radius: 3px;
}


.main {
  background: #333 url(../images/noise.png);
  padding: 2em 2em 6em;
}
.content {
  max-width: 960px;
  margin: 0 auto 2em auto;
}
.main > .box {
  min-height: 7em;
  max-width: 960px;
  margin: 0 auto 2em auto;
  padding: 0 0 0 12em;
}
.main > .box h2 {
  margin: 0 0 0 -12em;
  width: 10em;
  float: left;
  text-align: right;
}
.main > .box article {
  padding: 0 0 2em;
}

#We_do article header > a { /*exception for linked logos*/
  background: none;
  padding: 0;
}
a:hover,
a:focus {
  text-shadow: 0 -1px 0 #000;
  background: rgba(0,0,0,.5);
}

#Nutshell {
  background: url(../images/countries.png) 2em 100% no-repeat;
  background-size: contain;
  min-height: 7em;
  margin: 0 auto 2em auto;
  padding: 0 0 0 12em;
}
#Nutshell .participants {
  overflow: hidden;
}
#Nutshell .participants ul, 
 #Nutshell .participants li {
  margin: 0;
  list-style: none;
}

#Nutshell .participants li {
  float: left;
  margin: 0 1em 1em 0;
  border-radius: 50px;

  position: relative;

  transition: transform 0.5s ease-in;
  -webkit-transition: -webkit-transform 0.5s ease-in;
}
#Nutshell .participants li:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle at 50% 50%, rgba(0,0,0,0) 0%,rgba(0,0,0,.5) 100%);

  box-shadow: 0px 0px 4px 0px rgba(0,0,0,.5);
  border-radius: 50px;
}
#Nutshell .participants li a {
  display: block;
  padding: 0;
  background: transparent;
}
#Nutshell .participants li img {
  display: block;
  border-radius: 50px;
  width: 100px;
  height: 100px;
}
#Nutshell .participants li:hover {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
}

#Nutshell h2 {
  margin: 0 0 0 -12em;
  width: 10em;
  float: left;
  text-align: right;
}
#Nutshell article {
  padding: 0 0 2em;
}



#The_team {
  padding: 0 0 2em 12em;
}
#The_team article,
  #We_do article {
    margin: 0 0 2em;
}
#The_team header,
  #We_do header {
    height: 4em;
    position: relative;
}
#The_team header dt,
#The_team header dd {
  display: inline;
  width: auto;
  float: none;
  margin: 0;
  font-weight: normal
}
#The_team header dt {
  margin-right: .2em;
}
#The_team header dd:after {
  content: ',';
}
#The_team header dd:last-child:after {
  content: '';
}
#The_team header dl a {
  color: inherit;
}
#The_team img,
#We_do img {
  float: left;
  margin: 0 20px 0 0;

  border-radius: 40px;

  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,.5);
          box-shadow: 0px 0px 4px 0px rgba(0,0,0,.5);

  display: block;
}
#The_team h3,
#We_do h3 {
}
#The_team h3 em,
#We_do h3 em {
  font-style: normal;
  font-weight: normal;
  font-size: .8em;
  padding: .2em .4em;
  border-radius: 3px;
  cursor: default;
  margin-left: .5em;

  background: rgba(255,255,255,.2);
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,.3);
          box-shadow: 0px 0px 2px 0px rgba(0,0,0,.3);
  color: #eee;
  color: rgba(255,255,255,.7);
}
#We_do article p {
  margin-left: 100px;
  margin-top: 0;
}
#We_do article a:hover,
#We_do article a:focus {
  color: #fff;
}
#The_team h3 em.developer {
  /*background: #bada33;*/
  background: rgba(127,224,0,.5);
}
#The_team h3 em.designer {
  /*background: #dec0de;*/
  background: rgba(224,0,15,.4);
}
#The_team h3 small {
  display: block;
  color: inherit;
}
#The_team h3 i {
  font-style: italic;
}
#The_team .toggle {
  color: #999;
  opacity: 0;
  font-weight: bold;
  font-family: "Arial Black", sans-serif;
  font-size: 80px;
  position:absolute;
  top: 0;
  right: 0;
  width: 80px;
  text-align: center;
  line-height: 80px;
  display: block;
  z-index: 10;

  -webkit-transition: opacity 0.2s ease-out; 
     -moz-transition: opacity 0.2s ease-out; 
       -o-transition: opacity 0.2s ease-out; 
          transition: opacity 0.2s ease-out; 

}
#The_team article:hover .toggle {
  opacity: .5;
}
#The_team article .toggle:focus,
#The_team article .toggle:hover {
  opacity: 1;
}
#The_team .more .toggle.more,
#The_team .toggle.less {
  display: none;
}
#The_team .more .toggle.less {
  display: block
}
#The_team article > div {
  display: none;
  padding: 40px 0 40px 100px;
}
#The_team article > div p,
#The_team article > div ul {
  padding-bottom: 1em;
  margin: 0
}
#The_team article.more > div {
  display: block;
}
#The_team article p {
  margin-top: 0;
}
#The_team article ul,
#The_team article li {
  margin: 0;
}
#The_team article h4 {
  font-weight: bold;
  float: left;
  width: 180px;
  margin: 0 0 0 -200px;
  text-align: right;
}


#Hello {
  font-size: 18px;
  line-height: 27px;
}
#Hello p {
  border-left: 4px solid #222;
}
#Hello span {
  background: #222;
  padding: 4px 4px 4px 0;
}

.logos {
  text-align: center;
}
.logos li {
  display: inline;
  list-style: none;
}
.logos img {
  max-width: 200px;
  max-height: 100px;
  margin: 20px;
}
.logos img.box {
  border-radius: 5px;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,.5);
          box-shadow: 0px 0px 4px 0px rgba(0,0,0,.5);
}


#chapter-meta dd {
  margin-left: 11em;
}
#chapter-meta ul {
  margin-bottom: 0;
}
#chapter-meta li {
  list-style: disc outside;
  margin-bottom: 0;
}


.editButton {
  position: fixed;
  bottom: 5%;
  right: -7.2em;
  display: block;
  background: #111;
  color: #fff;
  padding: .5em;
  padding-right: 3em;
  line-height: 1em;
  height: 1em;
  text-decoration: none;
  border-radius: .5em;
  font-size: 1em;
  box-shadow: 0 1px 1px rgba(0,0,0,.5)

  -webkit-transition:right .1s linear;
   -moz-transition:right .1s linear;
     -o-transition:right .1s linear;
        transition:right .1s linear;
}

.editButton:focus,
.editButton:hover {
  text-decoration: none;
  color: #fff;
  right: -1em;
}
.editButton:before {
  content: '✎ ';
  margin-right: .3em;
}

#disqus_thread {
  margin: 4em 0 0
}

.header-image img {
  max-width: 50%;
  margin: 0 0 1em 1em;
  float: right;
  box-shadow: 0 0 3px #000;
}

/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
  body {
    font-size: .6em;
  } 
  .header-image img {
    max-width: 100%;
    float: none;
    margin: 1em 0
  }
}

@media only screen and (min-width: 480px) and (max-width: 640px) {
  body {
    font-size: .8em;
  } 
}

@media only screen and (max-width: 1000px) and (min-width: 640px) {
  body {
    font-size: .9em;
  } 
}
